* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins !important;
    background-color: #0a0a0a;
    background: radial-gradient(circle,#2a2a2a,#0a0a0a) !important;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5rem 0;
}

.encabezado-container {
    background: radial-gradient(circle at top right, #1a1a1a, #afafaf);
    padding: 3rem 0;
    width: 90%;
    border-radius: 70px;
}

.encabezado .nombre {
    font-size: 80px;
    font-weight: 800;
    font-family: Bebas Neue;
}

.encabezado .saludo {
    font-size: 15px;
    font-weight: 600;
}

.presentacion {
    font-size: 16px;
    font-weight: 400;
    padding: 3rem 8rem;
    text-align: center;
}

.proyectos {
    font-size: 28px;
    font-weight: 900;
    background: linear-gradient(to right, #2a2a2a, #2f2f2f);
    color: #fff;
    border-radius: 0 25% 0 15%;
    padding: 40px 0;
    box-shadow: 
    inset 5px 5px 10px rgba(0, 0, 0, 0.6),  /* Sombra interna oscura */
    inset -5px -5px 10px rgba(212, 219, 209, 0.1); /* Sombra interna clara */
}

.proyectos .titulo {
    font-family: Bebas Neue;
    font-size: 40px;
    padding: 10px 0 0 150px;
}

.proyectos .descrip {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 150px;
}

.proyectos .container-fluid {
    padding-left: 5rem;
    padding-right: 3rem;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    font-family: Bebas Neue;
    padding: 50px 0 30px 70px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.contacto {
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: 35px;
    padding: 50px 30px 30px 0;
}

.contacto a:hover{
    color: #a6a6a6 !important;
}
