body {
    font-family: Montserrat;
    background-color: whitesmoke !important;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 140px 0px;
}

.encabezado .nombre {
    font-size: 72px;
    font-weight: 800;
    gap: 20px;
}

.encabezado .saludo {
    font-size: 20px;
    font-weight: 600;
}

.presentacion {
    font-size: 16px;
    font-weight: 400;
    padding: 50px 100px;
    text-align: center;
}

.proyectos {
    font-size: 28px;
    font-weight: 900;
    background-color: #A0D683;
    border-radius: 30% 15% 20% 15%;
    padding: 80px 0;
}

.proyectos .titulo {
    padding: 10px 0 0 150px;
}

.proyectos .descrip {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 150px;
}

.proyectos .container-fluid {
    padding-left: 80px;
    padding-right: 50px;
}

.proyectos-container {
    margin: 50px 180px;
    padding: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: space-between;
    background-color: lightgray;
}

.proyecto {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

.proyectos-container h1 {
    font-size: 20px;
    margin: 5px;
}

.proyectos-container p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px;
}

.proyectos-container a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: auto; /* Empuja el enlace hacia abajo */
}

/* Contenedor de la imagen */
.proyectos-container .proyecto-imagen {
    display: inline-block; /* Adaptar el tamaño del contenedor al de la imagen */
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.proyectos-container .proyecto-imagen img {
    border-radius: 3%;
    width: 100%; /* Ajustar la imagen al contenedor */
    height: auto; /* Mantener la relación de aspecto */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 70px 0 30px 70px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(87, 86, 91);
}

.contacto {
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: 35px;
    padding: 70px 30px 30px 0;
}
