body {
    font-family: Poppins !important;
    background-color: #0a0a0a !important;
    background: radial-gradient(circle,#2a2a2a,#0a0a0a) !important;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 80px 0; /* Mantén el tamaño del encabezado constante */
}

.encabezado-container {
    background: radial-gradient(circle at top right, #042327, #04616E, #77c45d);
    padding: 70px 0; /* Puedes modificar el padding para ajustar el tamaño del contenedor */
    width: 90%;
    border-radius: 60px;
}

.encabezado .nombre {
    font-size: 80px;
    font-weight: 800;
    gap: 20px;
    font-family: Bebas Neue;
}

.encabezado .saludo {
    font-size: 15px;
    font-weight: 600;
}

.presentacion {
    font-size: 16px;
    font-weight: 400;
    padding: 60px 100px;
    text-align: center;
}

.proyectos {
    font-size: 28px;
    font-weight: 900;
    background: linear-gradient(to left, #137481, #77c45d, #abec96);
    color: #0a0a0a;
    border-radius: 0 25% 0 15%;
    padding: 40px 0;
    box-shadow: 
    inset 5px 5px 10px rgba(0, 0, 0, 0.6),  /* Sombra interna oscura */
    inset -5px -5px 10px rgba(168, 222, 150, 0.1); /* Sombra interna clara */
}

.proyectos .titulo {
    font-family: Bebas Neue;
    font-size: 40px;
    padding: 10px 0 0 150px;
}

.proyectos .descrip {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 150px;
}

.proyectos .container-fluid {
    padding-left: 80px;
    padding-right: 50px;
}

.proyectos-container {
    margin: 50px 180px;
    padding: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: space-between;
    background-color: lightgray;
}

.proyecto {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

.proyectos-container h1 {
    font-size: 20px;
    margin: 5px;
}

.proyectos-container p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px;
}

.proyectos-container a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: auto; /* Empuja el enlace hacia abajo */
}

/* Contenedor de la imagen */
.proyectos-container .proyecto-imagen {
    display: inline-block; /* Adaptar el tamaño del contenedor al de la imagen */
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.proyectos-container .proyecto-imagen img {
    border-radius: 3%;
    width: 100%; /* Ajustar la imagen al contenedor */
    height: auto; /* Mantener la relación de aspecto */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    font-family: Bebas Neue;
    padding: 70px 0 30px 70px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(87, 86, 91);
    color: white;
}

.contacto {
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: 35px;
    padding: 70px 30px 30px 0;
}
